/* General */
* {
    margin:0;
    border:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: skyblue;
    line-height: 1.5em;
    margin: 0 auto;
    min-height: 721px;
    overflow: auto;
    display: block;
}

header {
    display: block;
    background: black;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 30px;
    width: 100%;
    height: 10%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.container {
    display: block;
    margin: auto;
    box-sizing: border-box;
    max-width: 960px;
}

.banner {
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
}

/* Schedule Display CSS */
.train-schedule {
    display: block;
    border: 5px solid black;
    height: 350px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: white;
}

.train-header {
    background-color: lightgrey;
    height: 30px;
    margin:auto;
    border-bottom: 1px solid black;
    padding-left: 8px;
}

.schedule-display {
    background-color: white;
}

table {
    width: 100%;
    border-spacing: 0;
    table-layout: fixed;
}

td, th {
    display: table-cell;
    border-bottom: 1px solid black;
    border-collapse: collapse;
    text-align: left;
    padding-left: 8px;
    width: 20%;
    margin: auto;
}

tr {
    width: 100%;
}


/* Input CSS */
.train-input {
    display: block;
    border: 5px solid black;
    height: 275px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: white;
}

.input-form {
    width: 95%;
    margin: auto;
    border: 2px solid lightgrey;
    line-height: 1.5em;
}

form {
    padding-left: 8px;
}

button {
    width: 65px;
    margin-top: 5px;
    line-height: 2em;
    border-radius: 3px;
}

button:hover {
    background-color: skyblue;
    cursor: pointer;
}